@import url("./standard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  /* border: 1px solid red; */
}
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  border: none;
  
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75vw;
  margin: 20px auto;
  height: 100px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  flex-wrap: nowrap;
  background-color: white;
}

.nav-logo img {
  height: 100px;
  width: auto;
  margin: auto;
  background-size: cover;
}

.nav-menu {
  display: flex;
  gap: 20px;
  margin: 0 30px 0 30px;
}

.nav-link {
  font-size: 16px;
  color: #636363;
  font-weight: 600;
}

.nav-link:hover {
  color: #55c48b;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.nav-button-container {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-button {
  padding: 15px 40px;
  background-image: linear-gradient(90deg, #55c48b, #01849f);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 0 20px 0 0;
  border-radius: 40px;
}
.nav-button:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 8px 20px 0px rgba(1, 132, 159, 0.5);
}
main {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.hero {
  width: 85vw;
  margin: 450px auto 250px;
  overflow: hidden;
}
.hero-wapper {
  overflow: hidden;
  width: 100%;
}
.hero-heading {
  font-size: 47px;
  width: 500px;
  font-weight: 700;
}
.hero-image {
  position: absolute;
  right: -200px;
  top: 0px;
  z-index: -1;
  width: 1300px;
  height: auto;
}

.icons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;
}

.service i {
  color: white;
  font-size: 28px;
  background-color: #54c48b;
}
.icon-container {
  padding: 21px;
  background-color: #54c48b;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
}
.service-info {
  display: flex;
  flex-direction: column;
}
.service-info h4 {
  font-size: 22px;
  font-weight: 700;
  color: #000506;
  letter-spacing: 0;
}
.service-info p {
  font-size: 18px;
  color: #9b9b9b;
  font-weight: 400;
}
.service {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
