@import url("./standard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.nav-logo img {
  height: 100px;
  width: auto;
  margin: auto;
  background-size: cover;
}

.nav-menu {
  display: flex;
  gap: 20px;
  margin: 0 30px 0 30px;
}

.nav-link {
  font-size: 16px;
  color: #636363;
  font-weight: 600;
}

.nav-link:hover {
  color: #55c48b;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.nav-button-container {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-button {
  padding: 15px 40px;
  background-image: linear-gradient(90deg, #55c48b, #01849f);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 0 20px 0 0;
  border-radius: 40px;
}
.nav-button:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 8px 20px 0px rgba(1, 132, 159, 0.5);
}


.p1{
    font-size:20px ;
    color:#55c48b;
    letter-spacing:3px ;
}
.all{
    margin-left: 170px;
    margin-top: 30px;
    font-size:55px ;
    font-weight:bold;
}
div p .special{
    color:#04869e ;
    text-decoration:underline;
}
.b1{
    color: #04869e;
    background-color:whitesmoke ;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    margin-bottom: 200px;
}
.b1:hover{
    color: aliceblue;
    background-color: #04869e;
}
.button{
    text-decoration: underline;
    font-size: 16px;
    color: #9b9b9b;
    margin-left: 30px;
    cursor: pointer;
}
.g{
    color: rgb(0, 136, 255);
    /* background-color: aqua; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4 ,1fr);
    width: 85vw;
    margin: auto;
}
.g .boxg{
  color:white;
  background-image: linear-gradient(180deg, #55c48b, #01849f);
  width: 300px;
  height: 350px;
  padding: 70px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
  justify-content: space-between;  

}
.g .boxg p{
  font-size: 34px;
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: -0.5px;
}
.g .p11{
  margin-top: 20px;
  font-size: 16px;
  letter-spacing:4px;
}
div{
  margin: auto;
}
.g .box1{
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f4f4f4;
  width: 300px;
  height: 350px;
  padding: 45px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: #01849f solid 1px; */
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-between;  
}
.g .box1 h3{
  font-size: 28px;
  letter-spacing: -0.5px;
  color: #000;
}
.g .box1 h3:hover{
  color:#4ca276;
  transition: 0.3s ease-in-out;
}
.g .box1 p{
  font-size: 16px;
  color: #919191;
  line-height: 32px;
}
.g .card2:hover{
border:#01849f solid 1px;
color: #4ca276;
transition: 0.3s ease-in-out;
transform: translateY(-20px);
}

.img1 {
  animation:forwards 2s linear;
} 

.part2{
  display: flex;
  flex-direction: row;
  background-color: rgba(122, 220, 181, 0.203);
}
.photo22{
  margin-left: 100px;
  margin-top: 100px;

}
.p22{
    margin-left: 80px;
    margin-top: 200px;

}
#about-h4{
  font-size: 16px;
  line-height: 32px;
  font-weight: 300px !important;
  color: #01849f; 
  letter-spacing: 6px;
}
.part2 .p22 .lan{
  font-size: 48px;
  letter-spacing: -0.5px;
  color: #000;
  font-weight: bold;
  margin-top: 50px;
  line-height: 67.2px;
}
.part2 .p22 .lan2{
  font-size: 22px;
  letter-spacing: -0.5px;
  color: #AAA;
  margin-top: 50px;
  line-height: 44px;
}